/* * {
    outline: 2px dotted green;
} */

/* nav styling */

.nav {
    display: flex;
    background-color: #92b2ba;
    padding: 30px;
    margin: 2% 5%;
}

.navItem {
    flex: 1;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

/* banner styling */

img {
    height: 60vh;
    width: 90%;
    margin: 0 5%;
}



.bannercontainer {
    position: relative;
}

.overlay {
    position:absolute;
    top: 20vh;
    left: 120vh;
    display: flex;  
    flex-direction: column;
    justify-content: end;
}

#flowerbox {
    font-size: 4em;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 5px;
    text-shadow: whitesmoke;
}

#floralneeds {
    font-size: 1.3em;
    font-family: 'Open Sans', sans-serif;
    text-align: right;
    background-color: white ;
    margin-left: 34%;
    color:#f0a8bb;
}

/* product styling */

.floweroptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3%;

}



.nameprice1 {
    display: flex;
    margin: 4px 5%;
    justify-content: space-between;
}

.des1 {
    display: flex;
    margin: 5%;
    justify-content: start;  
    gap: 10px
}

/* style the price */

.price1 {
    background-color: #f0a8bb;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    padding: 1%;
}

/* style the name */

.name1 {
    color: #92b2ba;
    font-family: 'Open Sans', sans-serif;;

}

/* styling the tags */

.tags {
    background-color: #777777;
    letter-spacing: 1px;
    opacity: .5;
    padding: 1%;
    font-size: .2em;

}